*{
margin: 0;
padding: 0;
}
body{
height: 100vh;

}
img{
width: 30px;
height: 30px;
border-radius: 100%;

}
.up{

    flex-direction: row;
}
.container{
height: 100%;
display: flex;
flex-direction: column;
padding: 16px;
gap: 16px;
}